.quiz-content, .flag-quiz, .home-container, .flag-container {
  text-align: center;
}
.welcome, .quiz-start{
  font-size: x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.quiz-container{
  background-color: goldenrod;
}

.first-div, .last-div  {
 background-color: rgb(7, 7, 7);
}

.footer {
  margin: 150px;
}
.app-header{
  display: inline;
  margin: auto;
  width: 50%;
}

nav ul {
  list-style-type: none;
  padding: 0;
 
}

nav ul li {
  display: inline;
  margin: 0 10px;

}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

nav ul li a:hover {
  text-decoration: underline;
}
.flag-list{
  background-color: rgb(82, 51, 51);
  color: white;
}

.flag-list img {
  width: 70px;
  height: auto;
}
.flag-choice img{
  width: 80px;
  height: auto;
}

.flag-item {
  display: inline-block;
  margin: 3px;
  
}

.country-name {
  margin-bottom: 20px;
}

.score-timer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
